h4{

}



body{
    background-color: #95999c !important;
}
.navbar-brand{
    margin-right: 30px;
}

a{
    color: #54fff5 !important;
}

#imgCarousel img{
    opacity: 30%;
    max-height: 760px;
}
li{
    margin-left: 15px;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-item:hover{
    background-color:black !important;
    color: white !important;
}
.show .nav-link{
    color:white !important;
}
#headerText{
    padding-top: 40px;
    text-align: center;
    color: white;
}

.btn-teal{
    background-color:  black!important;
    color:#54fff5 ;
    border-radius: 40px;
    font-size: 26px;
    margin-bottom: 50px;
  /* margin-left: 150px;*/
    min-height: 65px;
}
.btn-teal:hover{
    color: white;
}

.linkContainer{
    padding-top: 40px;

}
.btn-teal img{
    max-height: 50px;
}
.col-md-6{
    margin-right: 0!important;
}



